* {
    margin: 0;
}

.top-row {
    margin: 2rem auto 1rem ;
    width: 90%;
    padding-inline: 2rem;

}
.c-btn {
    width: 10rem;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-info {
    display:flex;
    align-items: center;
    padding: 0;
}
.table-container {
    padding-left: 9%;
    width: auto;

}
.search {
    margin-bottom: 3rem;
}
tbody {
    background-color: #ffff;
}
h2 {
    margin-left: 4rem
}
@media(max-width:1200px) {
    h2 {
        margin-left: 0;
    }
}